@model PerpustakaanMVC.Models.Anggota

@{
    ViewData["Title"] = "Edit Anggota";
}

<h2>Edit Anggota</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label asp-for="Nama" class="control-label"></label>
        <input asp-for="Nama" class="form-control" />
        <span asp-validation-for="Nama" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="Alamat" class="control-label"></label>
        <input asp-for="Alamat" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Telepon" class="control-label"></label>
        <input asp-for="Telepon"  class="form-control"/>
    </div>

    <button type="submit" class="btn btn-success">Simpan</button>
    <a asp-action="Index" class="btn btn-secondary">Kembali</a>

</form>