@model PerpustakaanMVC.Models.Peminjaman

@{
    ViewData["Title"] = "Hapus Peminjaman";
}

<h2>Hapus Peminjaman</h2>

<h4> Apakah Anda yakin ingin menghaapus data ini ?</h4>
<hr/>

<dl class="row">
    <dt class="col-sm-2">Buku</dt>
    <dd class="col-sm-10">@Model.Buku?.Judul</dd>

    <dt class="col-sm-2">Anggota</dt>
    <dd class="col-sm-10">@Model.Anggota?.Nama</dd>

    <dt class="col-sm-2">Tanggal Pinjam</dt>
    <dd class="col-sm-10">@Model.TanggalPinjam.ToString("dd-MM-yyyy")</dd>

    <dt class="col-sm-2">Tanggal Kembali</dt>
    <dd class="col-sm-10">@Model.TanggalKembali?.ToString("dd-MM-yyyy")</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Hapus" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Batal</a>
</form>